body {
    background-image: url(../images/304189.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    float: none;
}
.main-nav{
    text-align: center;
    float: none;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    color: white;
    background-color: grey;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}