body {
    background-image: url(images/304189.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    float: none;
}
h1 {
    text-align: center;
    color: whitesmoke;
}
p {
    text-align: center;
    color: whitesmoke;
}
.Nappula{
    text-align: center;
}
.img-container {
    text-align: center;
}
.imgme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 15px;
}