body {
    background-image: url(images/304189.jpg);
    float: none;
}
h1 {
    text-align: center;
    color: whitesmoke;
}
p {
    text-align: center;
    color: whitesmoke;
}
.img-container {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 15px;
}
button{
    text-align: right;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    color: white;
    background-color: grey;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}